@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

.btn:focus {
    outline: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a,
button {
    display: inline-block;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

/************************** Header css **************************/
.header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.header-main.scroll{
    background-color: #000;
}

.header-main .navbar-custom{
    padding: 25px 8px;
    transition: 0.5s ease-in-out;
}
.header-main.scroll .navbar-custom{
    padding: 5px;
}

.header-main .navbar-custom .navbar-brand {
    display: block;
    width: 90px;
}

.header-main .navbar-custom .custom-nav .nav-item .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 6px;
    color: #fff;
    text-transform: capitalize;
}

.header-main .navbar-custom .how-to-buy {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000;
    background: linear-gradient(20deg, rgba(221, 184, 87, 1) 0%, rgba(166, 112, 36, 1) 25%, rgba(232, 201, 99, 1) 50%, rgba(138, 89, 26, 1) 75%, rgba(197, 174, 89, 1) 100%);
    text-transform: capitalize;
    padding: 7px 28px;
    border-radius: 30px;
}

/************************** Header css end **************************/

/* banner css  */
.home-banner-main {
    position: relative;
    padding: 200px 0 80px;
}
.home-banner-main .z-index-adjustment{
    position: relative;
    z-index: -1;
}

.home-banner-main .banner-content{
    position: relative;
    z-index: 20;
}
.home-banner-main .banner-content h1 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

.home-banner-main .banner-content h1 span {
    position: relative;
    top: -5px;
    display: block;
    font-size: 78px;
    font-weight: 900;
    background: linear-gradient(0deg, rgba(230, 197, 100, 1) 0%, rgb(139, 107, 42) 25%, rgba(236, 207, 105, 1) 50%, rgb(139, 106, 45) 75%, rgba(235, 222, 122, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-banner-main .banner-content .coin-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    margin-top: -50px;
    z-index: 1;
}

.home-banner-main .banner-content .coin-img::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    height: 85px;
    background-image: url(../images/coin-shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.home-banner-main .banner-content .coin-img img{
    position: relative;
    z-index: 10;
}
/* star */

.star-main {
    width: 400px;
    height: 400px;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;

}

.star {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(224, 167, 14, 0.8);
    box-shadow: 0 0 40px 0 rgba(232, 192, 80, 0.5), 0 0 20px 0 rgba(232, 192, 80, 1);
    animation: glow 5s infinite;
    z-index: -1;
    /* position: relative; */
}

/* .star::before {
    content: '\f005';
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    font-weight: 800;
    color: #fff;
    font-size: 10px;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));;
  } */

.star--medium {
    width: 3px;
    height: 3px;
}

/* .star--medium::before {
    font-size: 14px;
    font-weight: 400;
  } */

.star--big {
    width: 5px;
    height: 5px;
    box-shadow: 0 0 40px 0 #fff, 0 0 20px 0 #fff, inset 0 0 4px #fff;
}

/* .star--big::before {
    font-size: 18px;
    font-weight: 800;
    filter: drop-shadow(0px 0px 4px #fff);;
  } */

@keyframes glow {
    0% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.9;
    }
}
#particles-js{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
#stats{
    display: none;
}
/* lauching timer  */
.lauching-time-sec{
    position: relative;
}
.lauching-time-sec .timer-wrapper{
    position: relative;
    background-color: #000;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 35px 30px;
}
.lauching-time-sec .timer-wrapper::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:linear-gradient(0deg, rgba(159,105,3,1) 0%, rgba(249,245,135,1) 25%, rgba(140,92,29,1) 50%, rgba(232,201,99,1) 75%, rgba(165,112,35,1) 100%);
    z-index: -1;
}
.lauching-time-sec .timer-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: -1;
}
.lauching-time-sec .timer-wrapper .lauching-time{
    width: 40%;
}
.lauching-time-sec .timer-wrapper .lauching-time h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 20px;
}
.lauching-time-sec .timer-wrapper .lauching-time h3{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lauching-time-sec .timer-wrapper .lauching-timer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lauching-time-sec .timer-wrapper .lauching-timer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lauching-time-sec .timer-wrapper .lauching-timer ul li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #fff;
    margin: 0 4px;
    border-radius: 15px;
    z-index: 1;
}
.lauching-time-sec .timer-wrapper .lauching-timer ul li::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 15px;
    background:linear-gradient(0deg, rgba(159,105,3,1) 0%, rgba(249,245,135,1) 25%, rgba(140,92,29,1) 50%, rgba(232,201,99,1) 75%, rgba(165,112,35,1) 100%);
    z-index: -1;
}
.lauching-time-sec .timer-wrapper .lauching-timer ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: -1;
    border-radius: 15px;
}
.lauching-time-sec .timer-wrapper .lauching-timer h5{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}
.alessandro-ramirez {
    position: relative;
    padding: 140px 0;
    z-index: 10;
}
.alessandro-ramirez::before{
    content: '';
    position: absolute;
    background: url(../images/eclipse-bg.png);
    background-size: contain;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
    /* box-shadow: 0 0 30px rgba(113,97,44,0.1),
    0 0 30px rgba(113,97,44,0.1); */
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-pic{
    position: relative;
    width: fit-content;
    max-width: 100%;
    z-index: 1;
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-pic img{
    position: relative;
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-pic::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:linear-gradient(0deg, rgba(159,105,3,1) 0%, rgba(249,245,135,1) 25%, rgba(140,92,29,1) 50%, rgba(232,201,99,1) 75%, rgba(165,112,35,1) 100%);
    z-index: -1;
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-txt{
    width: 85%;
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-txt h4{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-txt p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
}

.alessandro-ramirez .alessandro-ramirez-cntnt .alessandro-ramirez-txt a{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000;
    background: linear-gradient(20deg, rgba(221, 184, 87, 1) 0%, rgba(166, 112, 36, 1) 25%, rgba(232, 201, 99, 1) 50%, rgba(138, 89, 26, 1) 75%, rgba(197, 174, 89, 1) 100%);
    text-transform: capitalize;
    padding: 7px 28px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(221, 184, 87, 0.7);
    transition: 0.5s;
}
.get-ultimate-profit-bettacoin{
    position: relative;
    margin: 130px 0 0;
    z-index: 1;
}
.get-ultimate-profit-bettacoin::before{
    content: '';
    position: absolute;
    left: 0;
    top: -300px;
    width: 100%;
    height: 950px;
    background-image: url(../images/technology-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.get-ultimate-profit-bettacoin .get-ultimate-profit-txt h4{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.get-ultimate-profit-bettacoin .get-ultimate-profit-txt p{
    color: #fff;
}
.get-ultimate-profit-bettacoin .get-ultimate-profit-img{
    position: absolute;
    top: -200px;
    right: -100px;
    width: 85%;
    z-index: 1;
}
.get-ultimate-profit-bettacoin .get-ultimate-profit-img::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../images/eclipse-bg.png);
    background-size: contain;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%), 0 0 30px rgb(0 0 0 / 10%);
    z-index: -1;
}
.road-map-sec{
    position: relative;
    margin-top: 350px;
}
.road-map-sec::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/eclipse-bg.png);
    background-size: contain;
    height: 850px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.road-map-sec .road-map-content{
    margin: 0 auto 50px;
    text-align: center;
    width: 75%;
}
.road-map-sec .road-map-content h4{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.road-map-sec .road-map-content p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
}
.road-map-sec .slider-road-map .item{
    padding: 10px;
}
.road-map-sec .slider-road-map .card-roadmap{
    position: relative;
}
.road-map-sec .slider-road-map .card-roadmap::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:linear-gradient(0deg, rgba(159,105,3,1) 0%, rgba(249,245,135,1) 25%, rgba(140,92,29,1) 50%, rgba(232,201,99,1) 75%, rgba(165,112,35,1) 100%);
    z-index: -1;
}
.road-map-sec .slider-road-map .card-roadmap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: -1;
}
.road-map-sec .slider-road-map .card-roadmap .head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 2px solid #b07f1a;
}
.road-map-sec .slider-road-map .card-roadmap .head h4{
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.road-map-sec .slider-road-map .card-roadmap .body{
    height: 380px;
    padding: 50px 65px;
}
.road-map-sec .slider-road-map .card-roadmap .body ul li{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #d0d0d0;
    margin-bottom: 20px;
}
.road-map-sec .slider-road-map .owl-nav .owl-next,
.road-map-sec .slider-road-map .owl-nav .owl-prev{
    position: relative;
    color: transparent;
    background-color: transparent !important;
}
.road-map-sec .slider-road-map .owl-nav .owl-prev::before{
    content: url(../images/arrow-left.png);
}
.road-map-sec .slider-road-map .owl-nav .owl-next::before{
    content: url(../images/arrow-right.png);
}
.road-map-sec .slider-road-map .owl-nav .owl-next:hover,
.road-map-sec .slider-road-map .owl-nav .owl-prev:hover{
    filter: brightness(0.7);
}
.burn-percentage{
    position: relative;
    padding: 170px 0 0;
}
.burn-percentage::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    width: 50%;
    height: 520px;
    background: url(../images/circle-white.png);
    background-size: 50px;
    opacity: 0.4;
}
.burn-percentage .burn-percentage-content .burn-perc-txt{
    width: 85%;
}
.burn-percentage .burn-percentage-content .burn-perc-txt h4{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
}
.burn-percentage .burn-percentage-content .burn-perc-txt p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.burn-percentage .burn-percentage-content .burn-perc-txt a{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000;
    background: linear-gradient(20deg, rgba(221, 184, 87, 1) 0%, rgba(166, 112, 36, 1) 25%, rgba(232, 201, 99, 1) 50%, rgba(138, 89, 26, 1) 75%, rgba(197, 174, 89, 1) 100%);
    text-transform: capitalize;
    padding: 7px 28px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(221 184 87 / 70%);
    transition: 0.5s;
}
.burn-percentage .burn-percentage-content .burn-perc-img{
    transform: scale(1.9);
    pointer-events: none;
}
.contact-bettacoin{
    position: relative;
    padding: 255px 0 70px;

}
.contact-bettacoin::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 950px;
    width: 70%;
    background: url(../images/technology-pattern-2.png);
    background-size: contain;
    z-index: -1;
}
.contact-bettacoin .contact-content h3{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}
.contact-bettacoin{
    position: relative;
}

.contact-bettacoin .contact-content .input-field{
    position: relative;
}
.contact-bettacoin .contact-content .input-field textarea,
.contact-bettacoin .contact-content .input-field input{
    width: 100%;
    height: 55px;
    padding: 10px 25px;
    background-color: #000;
    margin-bottom: 20px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.contact-bettacoin .contact-content .input-field textarea::placeholder,
.contact-bettacoin .contact-content .input-field input::placeholder{
    color: #fff;
    opacity: 0.7;
}
.contact-bettacoin .contact-content .input-field textarea{
    height: 200px;
    resize: none;
}
.contact-bettacoin .contact-content .input-field::before{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(159,105,3,1) 0%, rgba(249,245,135,1) 25%, rgba(140,92,29,1) 50%, rgba(232,201,99,1) 75%, rgba(165,112,35,1) 100%);
    top: -2px;
    left: -2px;
    right: -2px;
    /* bottom: -2px; */
    height: 59px;
    border-radius: 30px;
    z-index: -1;
}
.contact-bettacoin .contact-content .textarea-wrapper{
    height: 200px;
}
.contact-bettacoin .contact-content .textarea-wrapper::before{
    height: 204px;
}
.contact-bettacoin .contact-content .btn-field{
    margin-top: 20px;
}
.contact-bettacoin .contact-content .btn-field button{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: linear-gradient(90deg, rgba(234,207,131,1) 0%, rgba(164,110,35,1) 25%, rgba(234,207,131,1) 50%, rgba(164,110,35,1) 75%, rgba(234,207,131,1) 100%);
    width: 100%;
    border-radius: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.footer-main {
    border-top: 2px solid #e6c55f;
    /* padding: 30px 0 0; */
}
.footer-main .contact-links{

}
.footer-main .contact-links li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-main .contact-links li p{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}
.footer-main .contact-links li img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 8px;
}
.footer-main .contact-links li a{
    display: block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-left: 5px;
}
.footer-main .contact-links li a:hover{
    text-decoration: underline;
}
.footer-main .footer-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.footer-main .footer-center img{
    transform: scale(1.4);
    pointer-events: none;
}
.footer-main .footer-end h5{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(0deg, rgba(222,193,129,1) 0%, rgba(191,153,99,1) 33%, rgba(239,217,144,1) 66%, rgba(176,139,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-main .footer-end p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}
.footer-main .footer-center .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-main .footer-center .social-links li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 40px;
    width: 40px;
    background: linear-gradient(0deg, rgba(234,207,131,1) 0%, rgba(164,110,35,1) 25%, rgba(234,207,131,1) 50%, rgba(164,110,35,1) 75%, rgba(234,207,131,1) 100%);
    border-radius: 50%;
    margin: 0 10px;
}
.footer-main .copyright-footer{
    border-top: 2px solid #e6c55f;
    margin-top: 25px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
}
/*
    font-family: 'Orbitron', sans-serif;
    font-family: 'Raleway', sans-serif;
*/
/************************** media-query **************************/

@media only screen and (min-width: 1921px) and (max-width: 7368px) {}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {}

@media only screen and (min-width: 1445px) and (max-width: 1599px) {}

@media only screen and (min-width: 1366px) and (max-width: 1444px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .get-ultimate-profit-bettacoin .get-ultimate-profit-img{
        top: -120px;
        width: 65%;
        right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 300px) and (max-width: 519px) {}